---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Astro.props.title || 'Documentation of Jacob Ford'}</title>
    <script is:inline>
        // Fathom Analytics
        const fathomTrackingCode = import.meta.env.PUBLIC_FATHOM_SITEID;
        if (fathomTrackingCode) {
            (function(f, a, t, h, o, m){
                a[h]=a[h]||function(){
                    (a[h].q=a[h].q||[]).push(arguments)
                };
                o=f.createElement('script'),
                m=f.getElementsByTagName('script')[0];
                o.async=1; o.src=t; o.id='fathom-script';
                m.parentNode.insertBefore(o,m)
            })(document, window, '//cdn.usefathom.com/tracker.js', 'fathom');
            fathom('set', 'siteId', fathomTrackingCode);
            fathom('set', 'includedDomains', ['docs.jacobford.com']);
            fathom('trackPageview');
        }
    </script>
</head>
<body>
    <slot />
    <script is:inline>
        // Web Vitals reporting
        const axiomUrl = import.meta.env.PUBLIC_AXIOM_INGEST_ENDPOINT;
        if (axiomUrl) {
            import('web-vitals').then(({ getCLS, getFID, getFCP, getLCP, getTTFB }) => {
                function sendToAxiom(metric) {
                    const body = JSON.stringify({
                        route: window.location.pathname,
                        ...metric,
                    });
                    
                    if (navigator.sendBeacon) {
                        navigator.sendBeacon(axiomUrl, body);
                    } else {
                        fetch(axiomUrl, {
                            body,
                            method: 'POST',
                            keepalive: true
                        });
                    }
                }
                
                getCLS(sendToAxiom);
                getFID(sendToAxiom);
                getFCP(sendToAxiom);
                getLCP(sendToAxiom);
                getTTFB(sendToAxiom);
            });
        }
    </script>
</body>
</html>
